* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.app {
  margin: 0;
  padding: 0;
  background-color: #212121;

}

.react {
  color: #00D1F7;
}

.js {
  color: yellow;
}

.css {
  color: #2660E8;
}

.c {
  color: #1D609C
}

.html {
  color: #DD4B25
}

:root {
  --font: rgba(189, 189, 189, 0.87);
  --border: rgba(0, 0, 0, 0.548);
  --header: #1a1a1a;
  --fileboard: #212121;
}